body{
    background-color: #1355be;
}

main{
    justify-content: center;
    background-image: url(IMAGENS/ChatGPT\ Image\ 9\ de\ jun.\ de\ 2025\,\ 14_42_26.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.card{
    border: 2px rgb(41, 41, 41) solid;
    background-color: rgb(175, 175, 175);
    margin: 70px;
    color: rgb(29, 29, 29);
}

.bg-custom{
    background-color: #01060f;
}


header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
}

form{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin-left: 40px;
    margin-top: 40px;
}

.texto{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin-left: 100px;
    margin-top: 40px;
}

.headermain{
    display: flex;

}

a.nav-link{
    color: white;
}
