body{
    background-color: #1355be;
}

main{
justify-content: center;
}

.card{
    border: 2px rgb(41, 41, 41) solid;
    background-color: rgb(175, 175, 175);
    margin: 70px;
    color: rgb(29, 29, 29);
}

.bg-custom{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #0C2E64;
}

.cards{
    display: flex;
    justify-content: center;
}

header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
}
.titulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    display: flex;
    justify-content: center;
    flex-wrap: ;
}